.search-bar-container {
    position: relative;
  }
  
  .search-bar-container > input[type='text'] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease; 
  }

  .search-bar-container > input[type='text']:focus {
    border-color: lightgreen;
  } 
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown li:hover {
    background-color: #f0f0f0;
  }
  